.nav-bar {
    width: 85px;
    height: 850px;
    background-color: black;
    border-radius: 0px;
    vertical-align: center;
    justify-content: center;
    position: fixed;
}

.nav-box {
    margin-top: 7px;
    margin-bottom: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    vertical-align: center;
    justify-content: center;
}

.nav-box {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: #C92030;
    color: white;
    text-align: center;
}

.links {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}

.dashboard-link {
    text-decoration: none;
    color: #C92030;  
}

