.side-bar {
    width: 190px;
}
.element {
    width: 165px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    padding-right: 15px;
    font-size: 16px;
    text-decoration: none;
    color: #C92030;
    text-align: left;
    justify-content: left;
}
.links {
    text-decoration: none;
    text-align: left;
    color: #C92030; 
}